.auth {
   margin-top: 150px;
   max-width: 380px;
   width: 100%;
}

.authTop {
   border: 1px solid var(--border);
   padding: 30px;
   background: var(--main-color-body);
   position: relative;

   .btn {
      margin-top: 15px;
   }

   .formError {
      position: absolute;
      top: 190px;
      left: 65px;
   }
}

.authBottom {
   border: 1px solid var(--border);
   padding: 30px 17px;
   max-width: 380px;
   background: var(--main-color-body);
}

.form {
   margin-top: 40px;
}

.dark {
   filter: invert(100%);
}