.app_dark {
	--main-color: #111111;
	--main-color-body: #010101;
	--inverted-main-color: #ffffff;
	--border: #3b3b3b;
	--text-color: #737373;
	--blue_500: #0095f6;
	--error: #ff4444;
	--skeleton1: #333;
	--skeleton2: #222;
}
