.language{
   font-size: 17px;
   cursor: pointer;
   background: var(--main-color);
   color: var(--inverted-main-color);
   border: 3px solid var(--border);
   padding: 3px 5px 6px;
   border-radius: 50%;
   width: 35px;
   height: 35px;
}